body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* header */
.barra {
    display: flex;
    align-items: center;
    background-color: #3f48cc;
    color: white;
    padding: 10px 20px;
}

.logo {
    padding: 5px 10px;
    margin-right: 15px;
}

img {
    width: 150px;
}

.menu {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.menu a, .dropdown-btn {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.details-dropdown[open] .dropdown-content {
    display: block;
}

.details-dropdown {
    position: relative;
}

.summary-dropdown {
    list-style: none;
    cursor: pointer;
    color: white;
}

.summary-dropdown::-webkit-details-marker {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 6px;
    background-color: #3f48cc;
    min-width: 160px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #2f36a3;
}

/* footer */

.footer {
    background-color: #3f48cc;
    color: white;
    padding-top: 50px;
    font-family: Arial, sans-serif;
}

.footer-contenido {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.footer-info h3 {
    margin: 15;
    font-size: 18px;
}

.footer-info p {
    margin-top: 20px;
    font-size: 14px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-copy {
    text-align: center;
    margin-top: 40px;
    padding: 15px 0;
    font-size: 13px;
    color: #b0b0b0;
}

.footer-info {
    padding-left: 50px;
}

.footer-links {
    padding-right: 50px;
    font-size: 20px;
}
